:host {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    gap: var(--medium-gap);
}

.item-edit-form {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--medium-gap);

    mat-form-field {
        flex: 1;
    }
}