:host {
    display: block;
    padding: var(--large-padding);
}

ul {
    padding: 0;

    li {
        display: block;
        box-sizing: border-box;
        margin: var(--small-margin) 0;
        padding: var(--medium-padding);
        border-bottom: 1px var(--background-medium-color) dotted;
    }
}

.to-do-form {
    display: flex;
    gap: var(--medium-gap);
    align-items: center;

    mat-form-field {
        flex: 1;
    }
}

.spinner-container {
    display: flex;
    justify-content: center;
    margin: var(--large-margin);
}