:host {
    display: block;
    padding: var(--large-padding);
}

ul {
    padding: 0;
    flex: 1;
    margin: 0;

    li {
        display: block;
        margin: var(--small-margin) 0;
        padding: var(--medium-padding);
        border-bottom: 1px var(--background-medium-color) dotted;
        border-radius: var(--small-radius);
    }

    li:hover {
        cursor: pointer;
    }
}

.to-do-form {
    display: flex;
    flex-direction: column;

    app-button {
        align-self: center;
    }
}

.spinner-container {
    display: flex;
    justify-content: center;
    margin: var(--large-margin);
}

.to-to-list-container {
    display: flex;
    margin: var(--medium-margin);
    gap: var(--medium-gap);
}

.description-container {
    min-width: 20%;
    max-width: 30%;
    border-left: 1px var(--background-medium-color) dotted;
    padding: var(--small-padding);
}

.selected {
    background-color: var(--background-medium-color);
}

.hint-text {
    opacity: .5;
}