<h1>Todo List</h1>

<ng-container *ngIf="isLoading === true; then loadingTemplate; else toDoListTemplate" />

<div class="to-do-form">
    <mat-form-field subscriptSizing="dynamic">
        <mat-label>Add your new todo</mat-label>
        <input matInput type="text" [(ngModel)]="toDoInputText">
    </mat-form-field>
    <mat-form-field subscriptSizing="dynamic">
        <mat-label>Add description for todo</mat-label>
        <textarea matInput [(ngModel)]="toDoInputDescription"></textarea>
    </mat-form-field>
    <app-button (click)="addToDoListItem()" [isDisable]="!toDoInputText || !toDoInputDescription" title="Add"
        buttonClass="button-add" [appTooltip]="'Add a new item to the todo list'" />
</div>

<!-- Templates -->
<ng-template #loadingTemplate>
    <div class="spinner-container">
        <mat-spinner [diameter]="50"></mat-spinner>
    </div>
</ng-template>
<ng-template #toDoListTemplate>
    <div class="to-to-list-container">
        <ul>
            <li *ngFor="let item of getToDoListItems" [class.selected]="item.id === selectedItemId"
                (click)="setSelectedItemId(item.id)" (dblclick)="setEditedItemId(item.id)" tabindex="0"
                (keydown.enter)="setSelectedItemId(item.id)"
                [appTooltip]="'Click for select item / Double click for edit item'">
                <app-to-do-list-item [toDoListItem]="item" [isEditMode]="item.id === editedItemId"
                    (deleteItemEvent)="deleteToDoListItemById($event)" (editItemEvent)="editToDoListItem($event)" />
            </li>
        </ul>
        <div class="description-container">
            <h3>Description</h3>
            <ng-container *ngIf="selectedItemId !== null; then descriptionTemplate; else hintTemplate" />
        </div>
    </div>
</ng-template>
<ng-template #descriptionTemplate>
    <p>{{getSelectedItemDescription()}}</p>
</ng-template>
<ng-template #hintTemplate>
    <p class="hint-text">Select todo list item...</p>
</ng-template>