<form [formGroup]="toDoItemForm">
    <mat-form-field subscriptSizing="dynamic">
        <mat-label>Add your new todo</mat-label>
        <input matInput type="text" formControlName="itemTitle">
        <mat-error *ngIf="toDoItemForm.controls['itemTitle'].hasError('required')">
            Todo title is <strong>required</strong>
        </mat-error>
    </mat-form-field>
    <mat-form-field subscriptSizing="dynamic">
        <mat-label>Add description for todo</mat-label>
        <textarea matInput formControlName="itemDescription"></textarea>
        <mat-error *ngIf="toDoItemForm.controls['itemTitle'].hasError('required')">
            Todo description is <strong>required</strong>
        </mat-error>
    </mat-form-field>
    <app-button (click)="emitCreatingItem()" buttonClass="button-add" [appTooltip]="'Add a new item to the todo list'"
        [isDisable]="!toDoItemForm.valid">Add</app-button>
</form>