:root {
    // Colors
    --background-light-color: whitesmoke;

    // Radius
    --small-radius: 4px;
    --medium-radius: 8px;
    --large-radius: 16px;

    // Margin
    --small-margin: 4px;
    --medium-margin: 8px;
    --large-margin: 16px;

    // Padding
    --small-padding: 4px;
    --medium-padding: 8px;
    --large-padding: 16px;
}